In [236]:
import pandas as pd
import os

In [237]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#or
#school_data_to_load = os.path.join('Resources' , 'schools_complete.csv')v
#student_data_to_load = os.path.join('Resources' , 'students_complete.csv')

school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

#use count to check which columns contain null values
school_df.count()
student_df.count()


#or use isnull to output how many rows contain null values

school_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [238]:
###find data types of both dataframes
school_df.dtypes

#finding data type of a specific column
school_df.size.dtype
#or if column contains spaces
school_df["School ID"].dtype

student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [239]:
#cleaning up student names

#list of common pre/suffixes
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]


#using substring methods to rid names of unwanted prefixes and suffixes
for word in prefixes_suffixes:
    student_df.student_name = student_df.student_name.str.replace(word,"")

student_df.student_name

0           Paul Bradley
1           Victor Smith
2        Kevin Rodriguez
3          Richard Scott
4             Bonnie Ray
              ...
39165       Donna Howard
39166          Dawn Bell
39167     Rebecca Tanner
39168       Desiree Kidd
39169    Carolyn Jackson
Name: student_name, Length: 39170, dtype: object

In [240]:
#Combining data into single df

school_data_complete_df = pd.merge(student_df, school_df, on='school_name')

school_data_complete_df.head()

#count of number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

#unique list of school names
school_count = len(school_data_complete_df.school_name.unique())


#count of schools

school_count

15

In [241]:
#4.7.4 Get the Total Budget

#must use school df, merged will contain school budget but repeated for every student in that school
total_budget = school_df.budget.sum()
total_budget

24649428

In [242]:
#4.7.5 Get the average scores

average_reading_score = school_data_complete_df.reading_score.mean()

average_reading_score

average_math_score = school_data_complete_df.math_score.mean()

average_math_score

78.98537145774827

In [243]:
#4.7.6 Get passing percentages

#define passing grades 

#passing_math = school_data_complete_df.math_score >=70
#passing_reading = school_data_complete_df.reading_score >=70

#create data frame to hold passing students only

passing_math = school_data_complete_df[school_data_complete_df.math_score >=70]

passing_math

passing_reading = school_data_complete_df[school_data_complete_df.reading_score >=70]

passing_reading

#get number of students passing math
passing_math_count = passing_math.student_name.count()

#number of students passing reading
passing_reading_count = passing_reading.student_name.count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [244]:
#calculate passing percentages

passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100

In [245]:
#calculate overall passing percentage

#creating new data frame
passing_math_reading = school_data_complete_df[(school_data_complete_df.math_score >= 70) & (school_data_complete_df.reading_score >= 70)]

#count of students passing both math and reading
overall_passing_count = passing_math_reading.student_name.count()

overall_passing_percentage = overall_passing_count / student_count * 100

In [246]:
###4.7.7 - Creating summary df

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [247]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [248]:
###4.7.8 Formatting Columns

#we want to format dollar amounts to 2 decimals with USD sign and numbers larger than 999 with thousands separator

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [249]:
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [250]:
#adding dollar sign to dollar values
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [251]:
district_summary_df.dtypes

Total Schools              int64
Total Students            object
Total Budget              object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [252]:
'''We need to format the remaining columns accordingly:

The "Average Reading Score" column will be formatted to one decimal place.
The "Average Math Score" column will be formatted to one decimal place.
The "% Passing Reading" column will be formatted to the nearest whole number percentage.
The "% Passing Math" column will be formatted to the nearest whole number percentage
The "% Overall Passing" column will be formatted to the nearest whole number percentage.
'''

district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.0f}".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}".format)

In [253]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [254]:
#reordering the columns

district_summary_df = district_summary_df[["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [255]:
#4.8.1 Set Index To School Name

#setting the index and adding the school type to a series
per_school_types = school_df.set_index(['school_name']).type
#making series into DF
df = per_school_types.to_frame()

In [256]:

#doing the same thing with student count using school df

per_school_counts = school_df.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [257]:
#doing the same thing but with school data complete

per_school_counts = school_data_complete_df['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [258]:
#4.8.3 Get Budget Per student

per_school_budget = school_df.set_index(['school_name']).budget
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [259]:
#Calculte per student spending

per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [260]:
#4.8.4 Get average scores per school

student_school_math = student_df.set_index(['school_name']).math_score

per_school_averages = school_data_complete_df.groupby(['school_name']).mean()
per_school_averages

per_school_math = school_data_complete_df.groupby(['school_name']).mean().math_score
per_school_reading = school_data_complete_df.groupby(['school_name']).mean().reading_score

In [261]:
#Calculate Number of students passing math and passing reading by school

#using previously created df's of only passing grade students
per_school_passing_math = passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = passing_reading.groupby(['school_name']).count()['student_name']

per_school_passing_math
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [262]:
# Now we can use the series created for number of students and series made for passing counts and find passing percentage for each school

per_school_passing_math_percent = per_school_passing_math / per_school_counts * 100
per_school_passing_reading_percent = per_school_passing_reading / per_school_counts * 100

per_school_passing_math_percent
per_school_passing_reading_percent

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [263]:
#calculate overall passing percentage
#using previously created df
per_passing_math_reading = passing_math_reading.groupby(['school_name']).count()['student_name']
per_passing_math_reading

per_overall_pass_percentage = per_passing_math_reading / per_school_counts *100
per_overall_pass_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [264]:
#4.8.6 Creating School Summary DF

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math_percent,
           "% Passing Reading": per_school_passing_reading_percent,
           "% Overall Passing": per_overall_pass_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [ ]:
#Formatting per school DF 4.8.7

#First Formatting total school budget and per student budget to include USD sign, 2 decimal places and thousands separator

per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)

per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)