In [1]:
import pandas as pd
import os

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#or
#school_data_to_load = os.path.join('Resources' , 'schools_complete.csv')v
#student_data_to_load = os.path.join('Resources' , 'students_complete.csv')

school_df = pd.read_csv(school_data_to_load)
student_df = pd.read_csv(student_data_to_load)

#use count to check which columns contain null values
school_df.count()
student_df.count()


#or use isnull to output how many rows contain null values

school_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [3]:
###find data types of both dataframes
school_df.dtypes

#finding data type of a specific column
school_df.size.dtype
#or if column contains spaces
school_df["School ID"].dtype

student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [4]:
#cleaning up student names

#list of common pre/suffixes
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]


#using substring methods to rid names of unwanted prefixes and suffixes
for word in prefixes_suffixes:
    student_df.student_name = student_df.student_name.str.replace(word,"")

student_df.student_name

0           Paul Bradley
1           Victor Smith
2        Kevin Rodriguez
3          Richard Scott
4             Bonnie Ray
              ...
39165       Donna Howard
39166          Dawn Bell
39167     Rebecca Tanner
39168       Desiree Kidd
39169    Carolyn Jackson
Name: student_name, Length: 39170, dtype: object

In [5]:
#Combining data into single df

school_data_complete_df = pd.merge(student_df, school_df, on='school_name')

school_data_complete_df.head()

#count of number of students
student_count = school_data_complete_df['Student ID'].count()
student_count

#unique list of school names
school_count = len(school_data_complete_df.school_name.unique())


#count of schools

school_count

15

In [6]:
#4.7.4 Get the Total Budget

#must use school df, merged will contain school budget but repeated for every student in that school
total_budget = school_df.budget.sum()
total_budget

24649428

In [7]:
#4.7.5 Get the average scores

average_reading_score = school_data_complete_df.reading_score.mean()

average_reading_score

average_math_score = school_data_complete_df.math_score.mean()

average_math_score

78.98537145774827

In [8]:
#4.7.6 Get passing percentages

#define passing grades 

#passing_math = school_data_complete_df.math_score >=70
#passing_reading = school_data_complete_df.reading_score >=70

#create data frame to hold passing students only

passing_math = school_data_complete_df[school_data_complete_df.math_score >=70]

passing_math

passing_reading = school_data_complete_df[school_data_complete_df.reading_score >=70]

passing_reading

#get number of students passing math
passing_math_count = passing_math.student_name.count()

#number of students passing reading
passing_reading_count = passing_reading.student_name.count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [9]:
#calculate passing percentages

passing_math_percentage = passing_math_count / student_count * 100
passing_reading_percentage = passing_reading_count / student_count * 100

In [10]:
#calculate overall passing percentage

#creating new data frame
passing_math_reading = school_data_complete_df[(school_data_complete_df.math_score >= 70) & (school_data_complete_df.reading_score >= 70)]

#count of students passing both math and reading
overall_passing_count = passing_math_reading.student_name.count()

overall_passing_percentage = overall_passing_count / student_count * 100

In [11]:
###4.7.7 - Creating summary df

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
###4.7.8 Formatting Columns

#we want to format dollar amounts to 2 decimals with USD sign and numbers larger than 999 with thousands separator

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [14]:
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [15]:
#adding dollar sign to dollar values
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [16]:
district_summary_df.dtypes

Total Schools              int64
Total Students            object
Total Budget              object
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [17]:
'''We need to format the remaining columns accordingly:

The "Average Reading Score" column will be formatted to one decimal place.
The "Average Math Score" column will be formatted to one decimal place.
The "% Passing Reading" column will be formatted to the nearest whole number percentage.
The "% Passing Math" column will be formatted to the nearest whole number percentage
The "% Overall Passing" column will be formatted to the nearest whole number percentage.
'''

district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.0f}".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}".format)

In [18]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [19]:
#reordering the columns

district_summary_df = district_summary_df[["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [20]:
#4.8.1 Set Index To School Name

#setting the index and adding the school type to a series
per_school_types = school_df.set_index(['school_name']).type
#making series into DF
df = per_school_types.to_frame()

In [21]:

#doing the same thing with student count using school df

per_school_counts = school_df.set_index(['school_name'])['size']
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [22]:
#doing the same thing but with school data complete

per_school_counts = school_data_complete_df['school_name'].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [23]:
#4.8.3 Get Budget Per student

per_school_budget = school_df.set_index(['school_name']).budget
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [24]:
#Calculte per student spending

per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [25]:
#4.8.4 Get average scores per school

student_school_math = student_df.set_index(['school_name']).math_score

per_school_averages = school_data_complete_df.groupby(['school_name']).mean()
per_school_averages

per_school_math = school_data_complete_df.groupby(['school_name']).mean().math_score
per_school_reading = school_data_complete_df.groupby(['school_name']).mean().reading_score

In [26]:
#Calculate Number of students passing math and passing reading by school

#using previously created df's of only passing grade students
per_school_passing_math = passing_math.groupby(['school_name']).count()['student_name']
per_school_passing_reading = passing_reading.groupby(['school_name']).count()['student_name']

per_school_passing_math
per_school_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [27]:
# Now we can use the series created for number of students and series made for passing counts and find passing percentage for each school

per_school_passing_math_percent = per_school_passing_math / per_school_counts * 100
per_school_passing_reading_percent = per_school_passing_reading / per_school_counts * 100

per_school_passing_math_percent
per_school_passing_reading_percent

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
#calculate overall passing percentage
#using previously created df
per_passing_math_reading = passing_math_reading.groupby(['school_name']).count()['student_name']
per_passing_math_reading

per_overall_pass_percentage = per_passing_math_reading / per_school_counts *100
per_overall_pass_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [29]:
#4.8.6 Creating School Summary DF

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math_percent,
           "% Passing Reading": per_school_passing_reading_percent,
           "% Overall Passing": per_overall_pass_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [30]:
#Formatting per school DF 4.8.7

#First Formatting total school budget and per student budget to include USD sign, 2 decimal places and thousands separator




















per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)

per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)

In [31]:
#finding highest performing schools 4.9.1

#using sort_values method to sort and show top 5 schools

top_schools = per_school_summary_df.sort_values(['% Overall Passing'], ascending=False,)
top_schools.head()

#show bottom 5 schools, note that ascending is True by default so no need to specify
botttom_schools = per_school_summary_df.sort_values(['% Overall Passing'])
botttom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [32]:
#4.10.1 Create Grade-Level Dataframes

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [33]:
#4.10.2 Score Averages Grouped By School Name

#creating series' of each grades score grouped by their school

#math
ninth_grade_math_avg = ninth_graders.groupby(['school_name']).mean().math_score
tenth_grade_math_avg = tenth_graders.groupby(['school_name']).mean().math_score
eleventh_grade_math_avg = eleventh_graders.groupby(['school_name']).mean().math_score
twelfth_grade_math_avg = twelfth_graders.groupby(['school_name']).mean().math_score

#reading
ninth_grade_reading_avg = ninth_graders.groupby(['school_name']).mean().reading_score
tenth_grade_reading_avg = tenth_graders.groupby(['school_name']).mean().reading_score
eleventh_grade_reading_avg = eleventh_graders.groupby(['school_name']).mean().reading_score
twelfth_grade_reading_avg = twelfth_graders.groupby(['school_name']).mean().reading_score

twelfth_grade_reading_avg

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [34]:
#4.10.3 Combining grade level series' into single DF

math_score_by_grade_df = pd.DataFrame({
    '9th': ninth_grade_math_avg, 
    '10th': tenth_grade_math_avg, 
    '11th': eleventh_grade_math_avg, 
    '12th': twelfth_grade_math_avg})

reading_score_by_grade_df = pd.DataFrame({
    '9th': ninth_grade_reading_avg, 
    '10th': tenth_grade_reading_avg, 
    '11th': eleventh_grade_reading_avg, 
    '12th': twelfth_grade_reading_avg})


reading_score_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [35]:
#4.10.4 Format grade-level averages to 1 dec place and remove name of index column

#faster way found online to format multiple cells
number_format = '{:.1f}'.format

reading_score_by_grade_df = reading_score_by_grade_df.applymap(number_format)

#removing index name
reading_score_by_grade_df.index.name = None
reading_score_by_grade_df.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0

In [36]:
#do the same thing for math

math_score_by_grade_df = math_score_by_grade_df.applymap(number_format)

math_score_by_grade_df.index.name = None
math_score_by_grade_df.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4

In [37]:
#4.11.1 Spending Ranges Per Student

#get the spending range distribution

per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [49]:
#using .cut to bin schools by spending 

#defining bins

spending_bins = [0, 585, 630, 645, 675]
pd.cut(per_school_capita, spending_bins)
#pd.cut returns a series of each index with its bin


per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

#create bin names
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [51]:
#4.11.2 Categorize spending bins

per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$584

In [53]:
#4.11.3 Group by the spending ranges

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [54]:
#4.11.4 Create a dataframe for the scores by school spending


spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [55]:
# Formatting

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,83.9,93,97,90
$585-629,81.9,83.2,87,93,81
$630-644,78.5,81.6,73,84,63
$645-675,77.0,81.0,66,81,54

In [56]:
#4.12.1 Create Bins for School size

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [57]:
#4.12.2 Categorize Size Bins

# Categorize spending based on the bins.
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-629,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$584,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-644,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-644,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-629,Medium (1000-2000)

In [58]:
#4.12.3 Grouping by school size

# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [59]:
#4.12.4 Create dataframe for scores by school size
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [60]:
#Formatting

size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)

size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)

size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)

size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)

size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [63]:
#4.13.1 Group By School Type

#calculate averages per school type
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()['Average Math Score']

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [64]:
#4.13.2 Create Datframe for scores by school type
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.8,83.9,94,96,90
Medium (1000-2000),83.4,83.9,94,97,91
Large (2000-5000),77.7,81.3,70,83,58

In [65]:
#Formatting

type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)

type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)

type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)

type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)

type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.5,83.9,94,97,90
District,77.0,81.0,67,81,54